/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import 'bourbon/bourbon';



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

/*fonts*/

@font-face {
    font-family: 'ozoneregular';
    src: url('../fonts/ozone-webfont.eot');
    src: url('../fonts/ozone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone-webfont.woff') format('woff'),
         url('../fonts/ozone-webfont.ttf') format('truetype'),
         url('../fonts/ozone-webfont.svg#ozoneregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'museo_sans_900italic';
    src: url('../fonts/museosans-900italic-webfont.eot');
    src: url('../fonts/museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-900italic-webfont.woff') format('woff'),
         url('../fonts/museosans-900italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans-900italic-webfont.svg#museo_sans_900italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_700italic';
    src: url('../fonts/museosans-700italic-webfont.eot');
    src: url('../fonts/museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-700italic-webfont.woff') format('woff'),
         url('../fonts/museosans-700italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans-700italic-webfont.svg#museo_sans_700italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_300italic';
    src: url('../fonts/museosans-300italic-webfont.eot');
    src: url('../fonts/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300italic-webfont.woff') format('woff'),
         url('../fonts/museosans-300italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300italic-webfont.svg#museo_sans_300italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('../fonts/embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_100italic';
    src: url('../fonts/museosans-100italic-webfont.eot');
    src: url('../fonts/museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100italic-webfont.woff') format('woff'),
         url('../fonts/museosans-100italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100italic-webfont.svg#museo_sans_100italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../fonts/museosans-100-webfont.eot');
    src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100-webfont.woff') format('woff'),
         url('../fonts/museosans-100-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../fonts/museosans_900-webfont.eot');
    src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_900-webfont.woff') format('woff'),
         url('../fonts/museosans_900-webfont.ttf') format('truetype'),
         url('../fonts/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_500italic';
    src: url('../fonts/museosans_500_italic-webfont.eot');
    src: url('../fonts/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500_italic-webfont.woff') format('woff'),
         url('../fonts/museosans_500_italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500_italic-webfont.svg#museo_sans_500italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// vars

$primaryColor:#1baee4;
$ltFont:'museo_sans_100regular';


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*main*/

body{
  font-family: 'museo_sans_300regular';
  color: #414141;
  background-color: #fff;
}

.blue-bg{
    background-color:$primaryColor ;
}

.blue{
    color: $primaryColor;
}

.top-color{
  width: 100%;
  height: 10px;
  background-color:$primaryColor;
}

.content{
    float: left;
}

/*global*/

.margin-bottom{
    margin-bottom:20px;
}

.margin-left{
    margin-left:20px;
}

.margin-top{
    margin-top:10px;
}

/*type*/

a {
  color: $primaryColor;
  text-decoration: none;
}

a:hover{
    color: #1382ab;
}

h1{
  font-size: 22pt;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

h3{
    font-size: 18px;
    font-family: 'museo_sans_700regular';
    margin-bottom: 10px;
}

p{
  font-size: 12pt;
  line-height: 150%;
  margin-bottom: 20px;
}

ul{
    margin-left: 22px;
}

li{
    margin-bottom: 5px;
}

.uppercase{
    text-transform:uppercase;
}

.underline{
    text-decoration:underline;
}

/*container*/

#container{
    width: 960px;
    margin: 0 auto;
}



/*header*/

header{
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    margin-top:0;
}

.logo  {
    background-image: url(../images/logo.png);
    width: 400px;
    height: 61px;
    opacity: .8;
    @include transition-duration(.3s);
}

.logo:hover{
    opacity: 1;
}

.current_page_item a{
    color:$primaryColor;
    border-bottom: solid 3px #bbb;
    padding-bottom: 25px;
}

ul.main-nav, .main-nav ul{
    float: right;
    list-style: none;
    margin-top: -23px;
}

ul.main-nav li a, .main-nav ul li a{
    color:#707070;
    @include transition-duration(.3s);
}

ul.main-nav li a:hover, .main-nav ul li a:hover{
    color:$primaryColor;
}

ul.main-nav li, .main-nav ul li{
    float: left;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
}

ul.main-nav li:last-of-type, .main-nav ul li:last-of-type{
    margin-right: 0;
}

/*hero*/

.hero-title{
    padding:0 0 20px 0;
    margin:0 0 20px 0 ;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    h1{
        font-size: 75px;
        font-family: 'museo_sans_900regular';
        line-height: 110%;  
        margin-bottom: 0px;
    }
}


.hero-blue{
    font-family: 'museo_sans_300regular';
}

.hero-descrip{
    margin: 20px 0 40px 0;
        border-bottom: 1px solid #ccc;
}

.hero-descrip p{
    font-size: 21px;
    font-family: $ltFont;

}

.hero-subtext{
    font-size: 20pt;
    font-family: $ltFont;
    margin: 10px 0 0 0;
}

/*home services*/

.home-service-featred-img img{
  width: 390px;
  height: auto;
}


.home-services{
    padding: 20px 0;
    float: left;
}

.home-service {
    float: left;
    width: 455px;
    margin-bottom: 70px;
    margin-right: 50px;
}
.home-service:nth-child(even){
  margin-right: 0;
}

.home-service h3{
    text-transform: uppercase;
}

.home-service-bottom-links{
    margin-top: 10px;
    a{
        font-family:'museo_sans_500regular';
    }
}

a.bar:after{
    content: " | ";

} 

/*services*/


.service{
    width: 100%;
    float: left;
    padding: 50px 0;
    ul{
        list-style:disc;
        margin-top:20px;
        li{
            margin: 10px 0;
        }
    }
}

.service:nth-child(3n+2) {
    background-color: #f2f2f2;
}



.service-descrip{
    width: 40%;
    float: left;
    text-align: left;
}

.service:nth-child(odd) .service-descrip {
    float: right!important;
}


.service-descrip p{
    margin: 10px 0 ;
    float: left;
}

.service-descrip h4{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'museo_sans_900regular';
    margin-bottom: 10px;
}



.serviceimg {
    width: 60%;
    float: right;
}


.service:nth-child(odd) .serviceimg {
    float: left;
}

.service:nth-child(4) .serviceimg img {
    margin-top: -93px;
    margin-left:140px;
}



.right{
    float: right;
}

.left{
    float: left;
}


/*portfolio*/

.top-text p{
    font-size: 1.3em!important;
    font-family: $ltFont;
}

.top-text p:first-child:first-letter{
    font-family: 'ozoneregular';
    font-size: 135pt!important;
    float: left;
    margin-right: 8px;
    margin-bottom: 71px;
    margin-top: 50px;
    margin-left: -29px;
    color:#c2c2c2;
    text-transform: uppercase;
    
}

.port-select{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

ul#filters {
    list-style: none;
    margin-left: 320px;
}

ul#filters li{
    float: left;
}

ul#filters a{
    margin-right: 20px;
    padding: 10px;
}

.port-active, .port-active:hover{
    background-color:$primaryColor;
    color: #fff;
}

.portfolio{
    padding-top: 20px;
}


ul.portfolio-thumbs li, ul.portfolio-thumbs {

-webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
     -o-transition-property:         top, left, opacity;
        transition-property:         transform, opacity;

}

ul.portfolio-thumbs{
    list-style: none;
    li.portfolio-thumb{
        float: left;
        width: 300px;
        height: 195px;
        padding-right:20px;
        padding-bottom: 18px;
        a{
            &.port-thumb{
                @include transition-duration(.3s);
                &:hover{
                    opacity: .03;
                }
            }
        } 
        .port-thumb-descript{
            float: left;
            width: 300px;
            height: 195px;
            margin-bottom:-195px;
            background-color:#272727;
            .port-thumb-descript-inner{
                margin:20px;
                h1{
                    font-size:12pt;
                    color:#fff;
                    line-height:120%;
                    text-transform:none;
                }
                ul{
                    border-left:1px solid #bbb;
                    padding-left:20px;
                    &.tags{
                        margin-left:5px;
                        li{
                            color:#bbb;
                            font-family:'museo_sans_500regular';
                        }
                    }
                }
            }
        }
    }
}




/*port single*/

.port-nav{
  border-top:solid #bbb 1px;
  border-bottom:solid #bbb 1px;
  float: left;
  width:100%;
  padding:20px 0;
  margin-top:40px;
}

.port-home-link{
  width:30px;
  margin:0 auto;
  position:relative;
  top:-45px;
}

p.port-main-link {
  a{
    width: 30px;
    height:30px;
    background-image:url(../images/square.png);
    float: left;
    text-indent:-99999px;
    @include transition-duration(.3s);
    &:hover{
      opacity:.5;
    }
  }
}

/*slider*/

.slider{
    margin-bottom: 10px;
    clear: both;
    position: relative;
    top: -20px;
}



#gallery-1 {
  width: 50%;
  margin: 24px 25% 66px;
  color: #FFF;
}
.visibleNearby {
  background: #141414;
  width: 100%;
  overflow: hidden;
}
.visibleNearby .rsGCaption {
  margin-top: 12px;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 16px;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}
.visibleNearby .rsOverflow,
.visibleNearby .rsSlide {
  background: none;
}
.visibleNearby .rsOverflow {
  overflow: visible;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.9);  
  -moz-transform: scale(0.9); 
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) { 
   #gallery-1 {
    width: 62%;
    margin-left: 19%;
    padding: 12px 0 12px;
    color: #FFF;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
}








ul.port-tags{
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
}



ul.port-tags li{
    float: left;
    margin-right: 5px;
    color: $primaryColor;
}

ul.port-tags li:after{
    content: ",";
}

ul.port-tags li:last-of-type:after{
    content: "";
}

h1.port-title{
    font-size: 40px;
    font-family: $ltFont;
    font-weight: lighter;
    width: 40%;
}

.blockquote{
    color: $primaryColor;
    font-size: 30px;
    font-family: 'museo_sans_300regular';
    font-weight: lighter;
    width: 30%;
    float: left;
    padding: 10px;
    padding-right: 30px;
    margin: 0;
}

.blockquote:after, .blockquote:before{
    content: "";
}

.port-content img{
    padding: 30px 0 50px 0;
    width: 100%;
    height: auto;
    margin-left: -50px;
}

/*blog*/

.blog-container{
    padding-top: 20px;
    float: left;
}

.blog h1{
    font-family: 'museo_sans_700regular';
    margin: 0;
    margin-bottom: 20px;
}

.blog h1 a{
    color:#414141;
}

.blog h1 a:hover{
    color:$primaryColor;
}

.blog-featured-img{
    padding: 20px 0;
}

.blog-featured-img img{
    width: 730px;
    height: auto;
}



.blog{
    width: 730px;
    padding-right: 50px;
    margin-right: 20px;
    float: left;
    background-image: url(../images/blog-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.blog h2{
    color: #aaa;
}

.post{
    border-bottom: 10px solid $primaryColor;
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.post:last-of-type{
    border-bottom: none;
}

.sidebar-widget{
    margin-bottom: 20px;
}

sidebar p{
    font-size: 12px;
    color: #999;
    margin: 0 0 10px 0;
}

.categories ul{
    list-style: none;
    margin: 0;
    font-size: 12px;
}

sidebar a{
    color: #999;
    display: block;
}

sidebar a:hover{
    color: $primaryColor;
}

sidebar{
    width: 160px;
    float: left;
}

sidebar h1{
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    font-family: $ltFont;
}

/*contact form*/

.contact-form{
  margin-top:40px;
  float: left;
  .wpcf7-mail-sent-ok{
    border:none;
    color:green;
  }
  .wpcf7-validation-errors{
    border:none;
    color:red;
  }
  input[type="text"],textarea{
    padding:10px;
    box-shadow:none;
    border:1px solid #ddd;
  }
  input[type="text"]{
    width:300px;
    height:20px;
    font-size:20pt;
    margin-top:10px;
  }
  textarea{
    width:590px;
    height:400px;
    font-size:10pt;
    margin-top:10px;
  }
  input[type="submit"]{
    background:none;
    border:none;
    margin-top:40px;
    padding:20px 40px;
    width:150px;
    font-size:12pt;
    color:#fff;
    background-color:$primaryColor;
    cursor:pointer;
    @include border-radius(4px);
    @include transition-duration(.3s);
    &:hover{
      background-color:shade($primaryColor,30%);
    }
  }

}

/*sub footer*/

.inner{
    width: 960px;
    padding: 10px;
    margin: 0 auto;
}

.sub-footer{
    background-image: url(../images/footer-pattern.png);
    @include box-shadow(inset 0 2px 6px rgba(0,0,0,.4));
    float: left;
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
    color: #585858;
    h1{
        font-size: 18px;
        text-transform: uppercase;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        font-family: $ltFont;      
    }
    p{
        font-size: 14px;
    }
}

.footer-col{
    float: left;
    width: 280px;
    padding-right: 40px;
}



.footer-post{
    margin-top: 10px;
    float: left;
    width: 100%;
}

a.square-button {
    background-color: #999;
    color: #fff;
    padding: 15px;
    width: 90%;
    float: left;
    text-align: center;
    @include transition-duration(.3s);
    @include border-radius(4px);
    font-family:$ltFont;
    letter-spacing:1px;  
}

a.square-button:hover {
    background-color: #888;
}

a.blue-square-button{
background-color:$primaryColor;
color: #fff;
padding: 15px;
width: 45%;
float: left;
text-align: center; 
@include transition-duration(.4s);
@include border-radius(4px);
font-family:$ltFont;
letter-spacing:1px;
}

a.blue-square-button:hover {
   background-color: #1382ab;
}


footer{
    background-color: #333333;
    color: #fff;
    padding: 20px 0 ;
    float: left;
    width: 100%;
    font-family: $ltFont;
}

ul.footer-social{
    float: right;
    list-style: none;
    margin-top: -28px;
}

ul.footer-social li{
    float: left;
    margin-right: 20px;
}

ul.footer-social li{
    float: left;
    margin-right: 20px;
}

.footer-icons a{
    opacity: .5;
}

.footer-icons a:hover{
    opacity: 1;
}

a.rss{
    width: 31px;
    height: 31px;
    background-image: url(../images/RSS.png);
    float: left;
}

a.dribbble{
    width: 33px;
    height: 33px;
    background-image: url(../images/Dribbble.png);
    float: left;
}

a.twitter{
    width: 42px;
    height: 30px;
    background-image: url(../images/Twitter.png);
    float: left;
}
